/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
    .phoneSize{
        margin-right:0.5%;
        font-weight: bold;
        font-size: 1.1em;
    }
    
    .graphSize{
      width: 80%;
      height:200px;
      margin-left:10%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
    .phoneSize{
        margin-right:0.5%;
        font-weight: bold;
        font-size: 1.1em;
    }
    
    .graphSize{
      width: 90%;
      height:200px;
      margin-left:5%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 720px) {
/* Styles */
    .phoneSize{
        margin-right:0.5%;
        font-size: 2em;
    }
    
    .graphSize{
      width: 80%;
      height:300px;
      margin-left:10%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1000px) {
/* Styles */
    .phoneSize{
        margin-right:0.5%;
        font-size: 2em;
    }
    
    .graphSize{
      width: 70%;
      height:300px;
      margin-left:8%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
    .phoneSize{
        margin-right:0.5%;
        font-size: 2em;
    }
    
    .graphSize{
      width: 70%;
      height:380px;
      margin-left:10%;
    }
    
    .lampButtons{
       margin-left:2%;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
    .phoneSize{
        margin: 0.5%;
        margin-right:0.5%;
        font-size: 2em;
    }
    
    .graphSize{
      width: 70%;
      height:500px;
      margin-left:10%;
    }
    
    .lampButtons{
       margin-left:2%;
    }
}


.flot-x-axis div.flot-tick-label { 
    /* Rotate Axis Labels */
    transform: translateX(50%) rotate(20deg); /* CSS3 */
    transform-origin: 0 0;
    
    -ms-transform: translateX(50%) rotate(20deg); /* IE */
    -ms-transform-origin: 0 0;

    -moz-transform: translateX(50%) rotate(20deg); /* Firefox */
    -moz-transform-origin: 0 0;

    -webkit-transform: translateX(50%) rotate(20deg); /* Safari and Chrome */
    -webkit-transform-origin: 0 0;

    -o-transform: translateX(50%) rotate(20deg); /* Opera */
    -o-transform-origin: 0 0;
}