{% extends "base.html" %}
{% block headline %}Desk Lamp{% endblock %}
{% block headline2 %}OverView{% endblock %}
{% block head %}
  {{super()}}
{% endblock %}
=======
{% block page_content %}
  <div class="row">
    <div class="col-xs-2 col-md-2">
      <div><b>Total Hours: {{hours}}</b></div>
    </div>
    <div class="col-xs-2 col-md-2">
      <div><b>Energy cost: ${{cost}}</b></div>
    </div>
    <div class="col-xs-2 col-md-2">
      <div><b>Status: <span id="status"></span></b></div>
    </div>
    <div class="col-xs-2 col-md-2">
      <div><button id="toggle" type="button" class="btn btn-default btn-cons" data-toggle="button" aria-pressed="true"></button></div>
    </div>
  </div>
  <br /><br />
  <br /><br />
  <div id="container" style="width:100%; height:400px;"></div>
  <br /><br />
  <br /><br />
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  $(function() {
    if($(window).width() <= 360){
      $("#toggle").css('margin-left', '30%')
      $("#reset").css('margin-left', '30%')
    }
    var button = $("#toggle");
    // set label based on db information
    {% if account['toggled'] == 'On' %}
      button.text('Turn Off').css('color', 'green');
      $('#status').html('Light Is On');
    {% else %}
      button.text('Turn On').css('color', 'red');
      $('#status').html('Light Is Off');
    {% endif %}
    // update db information and change button information
    $("#toggle").click(function() {
      var text = button.text().split(' ')[1];
      $.post( "/vnvo", {'toggled': text}, function(data) {
      });
      if(text == 'On'){
        button.text('Turn Off').css('color', 'green');
        $('#status').html('Light Is On');
      }
      else{
        button.text('Turn On').css('color', 'red');
        $('#status').html('Light Is Off');
        setTimeout("location.reload();", 2000);
      }
      
    });

    var data = {{data|safe}};
    var dates = [];
    var costs = [];
    for(var i=0; i<data.length; i++){
      dates.push(data[i][0]);
      costs.push(parseFloat(data[i][1]));
    }
    
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cost Per Hour'
            },
            xAxis: {
              categories: dates,   
              crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cost (Dollars)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.5f} $</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Lamp Cost',
                data: costs
            }]
        });
    });
  });
  </script>
{% endblock %}